@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Dosis", sans-serif;
}

body {
    /* height: 100vh; */
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title-container {
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
    padding: 1.1rem;
    border-radius: 0 0 50% 50%;
    box-shadow: 0 5px 10px black;
    color: white;
}

.contents {
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin-block: 5rem;
}

.contents .side1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.contents .side1 .bookInput-container {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    gap: 1rem;
    padding-top: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, .6);
    box-shadow: 2px 5px 10px black;
}

.contents .side1 .bookInput-container .bookInput-element {
    display: flex;
    flex-direction: column;
    width: 35vw;
    gap: .2rem;
    padding-inline: 2rem;
    font-size: 1.2rem;
}

.contents .side1 .bookInput-container .checkbox-element {
    width: 35vw;
    padding-top: .5rem;
    padding-inline: 2rem;
    font-size: .8rem;
}

.contents .side1 .bookInput-container .bookInput-element input {
    width: 100%;
    height: 35px;
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 1rem;
    padding-left: .5rem;
}

.contents .side1 .bookInput-container .button-element {
    width: 35vw;
    padding: .5rem 2rem; 
}

.contents .side1 .bookInput-container .button-element input {
    width: 100%;
    border-radius: 6px;
    padding-inline: 1rem;
    height: 35px;
    outline: none;
    border: none;
    font-weight: 600;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    border: none;
}

.contents .side1 .bookInput-container .button-element .button {
    background-color: #3b5998;
}

.contents .side1 .bookSearch-container {
    width: 35vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
    background-color: rgba(0, 0, 0, .6);
    box-shadow: 2px 5px 10px black;
    border-radius: 6px;
    color: white;
}

.contents .side1 .bookSearch-container .bookSearch-element {
    width: 35vw;
    font-size: 1.2rem;
    padding: .5rem 2rem;
}

.contents .side1 .bookSearch-container .bookSearch-element input#judulSearch {
    width: 64.2%;
    height: 35px;
    font-size: 1rem;
    border-radius: 6px;
    outline: none;
    border: none;
    padding-left: .5rem;
}

.contents .side1 .bookSearch-container .bookSearch-element input.cari-button {
    width: 20%;
    height: 35px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    border: none;
    background-color: #3b5998;
    color: white;
    margin-left: .8%;
    cursor: pointer;
}

.contents .side2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.contents .side2 .unRead-container {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .6);
    padding-top: 1rem;
    color: white;
    border-radius: 6px;
    box-shadow: 2px 5px 10px black;
}

.contents .side2 .unRead-container .unRead-list {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;
    padding: .5rem 2rem;
}

.contents .side2 .read-container {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .6);
    padding-top: 1rem;
    color: white;
    border-radius: 6px;
    box-shadow: 2px 5px 10px black;
}

.contents .side2 .read-container .read-list {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;
    padding: .5rem 2rem;
}

.contents .side2 .buku {
    box-shadow: 5px 5px 5px rgba(255, 255, 255, .8);
    border: .5px solid rgba(255, 255, 255, .5);
    padding: .8rem;
    border-radius: 6px;
}

.contents .side2 .buku button {
    padding: .2rem;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 10px;
}

.contents .side2 .buku .sudahBaca-button {
    background-color: greenyellow;
    margin-right: 5px;
}

.contents .side2 .buku .belumBaca-button {
    background-color: greenyellow;
    margin-right: 5px;
}

.contents .side2 .buku .hapusBuku-button {
    background-color: #c4302b;
}

@media screen and (max-width: 1200px) {
    .contents {
        flex-direction: column;
        align-items: center;
    }

    .contents .side2 {
        margin-top: 2rem;
        flex-direction: row;
    }
}

@media screen and (max-width: 768px) {
    
    .contents .side2 {
        flex-direction: column;
    }

}